
@{
    ViewBag.Title = "OrdenSatisfactoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrdenSatisfactoria</h2>
<h4>tu orden a si procesada con exito. para volver al inicio @Html.ActionLink("da click aqui!!", "Index", "Producto")</h4>