@{
    ViewBag.Title = "Contactos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    DIRECCION:<br />
    El Parque el Ejido, frente a las oficinas de un edificio<br />
    <abbr title="TELEFONOS">T:</abbr>
    204863P.T SILENT
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1043.9873094982552!2d-78.4527761755343!3d-0.10242570111182023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a4002427c9f%3A0x44b991e158ef5572!2sQuito!5e1!3m2!1ses-419!2sec!4v1581032080434!5m2!1ses-419!2sec" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<address>
    <strong>Suporte Tecnico:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>